<div *ngIf="isAuthenticated">
  <div class="wrap" *ngFor="let themeColor of themeColors">
    <kendo-appbar [themeColor]="themeColor">
      <kendo-appbar-spacer width="10px"></kendo-appbar-spacer>

      <kendo-appbar-section>
        <button kendoButton fillMode="flat">
          <kendo-svg-icon [icon]="menuIcon"></kendo-svg-icon>
        </button>

        <ul>
          <li routerLink="home" *ngIf="isAuthenticated"><span>Home</span></li>
          <li routerLink="about" *ngIf="isAuthenticated"><span>About</span></li>
          <li routerLink="contacts" *ngIf="isAuthenticated">
            <span>Contacts</span>
          </li>
        </ul>
      </kendo-appbar-section>

      <kendo-appbar-spacer></kendo-appbar-spacer>

      <kendo-appbar-section>
        <li (click)="onRetrieveUsers()">User Infos</li>
        <kendo-dropdownbutton [data]="data" themeColor="dark">
          User Settings <kendo-svg-icon [icon]="downArrow"></kendo-svg-icon>
        </kendo-dropdownbutton>
        <li (click)="onLogout()">Logout</li>
      </kendo-appbar-section>
    </kendo-appbar>
  </div>
</div>
