<div *ngIf="isAuthenticated">
  <div class="wrap" *ngFor="let themeColor of themeColors">
    <kendo-appbar [themeColor]="themeColor">
      <kendo-appbar-spacer width="10px"></kendo-appbar-spacer>

      <kendo-appbar-section>
        <button kendoButton fillMode="flat">
          <kendo-svg-icon [icon]="menuIcon"></kendo-svg-icon>
        </button>

        <ul>
          <li routerLink="home" *ngIf="isAuthenticated">Home</li>
          <li routerLink="preference" *ngIf="isAuthenticated">Preference</li>
          <li routerLink="upload" *ngIf="isAuthenticated">Upload</li>
          <li routerLink="weather" *ngIf="isAuthenticated">
            Weather
          </li>
        </ul>
      </kendo-appbar-section>

      <kendo-appbar-spacer></kendo-appbar-spacer>

      <kendo-appbar-section>
        <li (click)="onRetrieveUsers()">User Infos</li>
        <kendo-dropdownbutton [data]="data" themeColor="dark">
          User Settings <kendo-svg-icon [icon]="downArrow"></kendo-svg-icon>
        </kendo-dropdownbutton>
        <li (click)="onLogout()">Logout</li>
      </kendo-appbar-section>
    </kendo-appbar>
  </div>
</div>
