<div class="auth-page">
  <div class="card-body">
    <!-- login-start -->
    <kendo-card
      *ngIf="isLogInMode"
      class="align"
      width="460px"
      orientation="horizontal"
    >
      <div class="k-vstack">
        <div class="example">
          <div *ngIf="isLoading" style="text-align: center">
            <div class="k-loading-panel">
              <div class="k-loading-panel-mask"></div>
              <div class="k-loading-panel-wrapper">
                <kendo-loader
                  type="infinite-spinner"
                  themeColor="primary"
                  size="large"
                >
                </kendo-loader>
                <div class="k-loading-panel-text">Loading...</div>
              </div>
            </div>
          </div>

          <form class="k-form k-form-md" [formGroup]="form">
            <fieldset class="k-form-fieldset">
              <kendo-formfield>
                <kendo-floatinglabel
                  [labelCssClass]="'custom-label-class'"
                  [text]="'Username'"
                >
                  <kendo-textbox
                    rounded="none"
                    formControlName="username"
                    class="k-input-container"
                    [clearButton]="true"
                    #username
                    required
                  >
                    <ng-template kendoTextBoxPrefixTemplate>
                      <kendo-svg-icon
                        size="xlarge"
                        [icon]="userIcon"
                      ></kendo-svg-icon>
                    </ng-template>
                  </kendo-textbox>
                </kendo-floatinglabel>
                <kendo-formerror>Error: Username is required</kendo-formerror>
              </kendo-formfield>

              <kendo-formfield>
                <kendo-floatinglabel
                  [labelCssClass]="'custom-label-class'"
                  [text]="'Password'"
                >
                  <kendo-textbox
                    rounded="none"
                    formControlName="password"
                    class="k-input-container"
                    #password
                    required
                    [clearButton]="true"
                  >
                    <ng-template kendoTextBoxPrefixTemplate>
                      <kendo-svg-icon
                        size="xlarge"
                        [icon]="lockIcon"
                      ></kendo-svg-icon>
                    </ng-template>

                    <ng-template kendoTextBoxSuffixTemplate>
                      <button
                        kendoButton
                        look="clear"
                        icon="eye"
                        (click)="toggleVisibility()"
                      ></button>
                    </ng-template>
                  </kendo-textbox>
                </kendo-floatinglabel>
                <kendo-formerror>Error: Password is required</kendo-formerror>
              </kendo-formfield>

              <kendo-formfield>
                <div class="k-checkbox-wrap">
                  <input
                    #loggedIn
                    type="checkbox"
                    kendoCheckBox
                    formControlName="loggedIn"
                  />
                  <kendo-label
                    [for]="loggedIn"
                    class="k-checkbox-label"
                    text="Keep me logged in"
                  ></kendo-label>
                </div>
              </kendo-formfield>
              <span>
                Not a member?
                <a style="cursor: pointer; color: blue" (click)="register()"
                  >SignUp Now</a
                >
              </span>
            </fieldset>
          </form>
        </div>
      </div>
      <button
        class="login-background"
        kendoButton
        type="submit"
        [disabled]="!form.valid"
        themeColor="dark"
        (click)="login(form)"
      >
        Login
      </button>
      <!-- login-end -->
    </kendo-card>

    <kendo-card
      *ngIf="!isLogInMode"
      class="align-signup"
      width="inherit"
      orientation="horizontal"
    >
      <div class="signup-component">
        <form class="k-form k-form-md" [formGroup]="form">
          <fieldset class="k-form-fieldset">
            <kendo-gridlayout
              [rows]="['auto', 'auto', 'auto', 'auto']"
              [cols]="['1fr', '1fr', '0.5fr']"
              [gap]="10"
            >
              <kendo-gridlayout-item [col]="1" [row]="1" class="box">
                <span>
                  <kendo-formfield>
                    <kendo-floatinglabel
                      [labelCssClass]="'custom-label-class'"
                      [text]="'Username'"
                    >
                      <kendo-textbox
                        rounded="medium"
                        formControlName="username"
                        class="k-input-container-signup"
                        [clearButton]="true"
                        #username
                        required
                      >
                        <ng-template kendoTextBoxPrefixTemplate>
                          <kendo-svg-icon
                            size="xlarge"
                            [icon]="userIcon"
                          ></kendo-svg-icon>
                        </ng-template>
                      </kendo-textbox>
                    </kendo-floatinglabel>
                    <kendo-formerror
                      >Error: Username is required</kendo-formerror
                    >
                  </kendo-formfield>
                </span>
              </kendo-gridlayout-item>
              <kendo-gridlayout-item [col]="2" [row]="1" class="box">
                <span>
                  <kendo-formfield>
                    <kendo-floatinglabel
                      [labelCssClass]="'custom-label-class'"
                      [text]="'Email'"
                    >
                      <kendo-textbox
                        rounded="medium"
                        formControlName="email"
                        class="k-input-container-signup"
                        [clearButton]="true"
                        #username
                        required
                      >
                        <ng-template kendoTextBoxPrefixTemplate>
                          <kendo-svg-icon
                            size="xlarge"
                            [icon]="envelopIcon"
                          ></kendo-svg-icon>
                        </ng-template>
                      </kendo-textbox>
                    </kendo-floatinglabel>
                    <kendo-formerror>Error: Email is required</kendo-formerror>
                  </kendo-formfield>
                </span>
              </kendo-gridlayout-item>
              <kendo-gridlayout-item
                style="margin-top: 15px;"
                [col]="1"
                [row]="2"
                class="box"
              >
                <kendo-floatinglabel style="height: 100%;" text="Select value">
                  <kendo-dropdownlist formControlName="role" class="kendo-dropdownlist" [data]="roleArray" themeColor="dark">
                    Role
                    <kendo-svg-icon
                      [icon]="downArrow"
                    ></kendo-svg-icon> </kendo-dropdownlist
                ></kendo-floatinglabel>
              </kendo-gridlayout-item>
              <kendo-gridlayout-item [col]="2" [row]="2" class="box">
                <span
                  ><kendo-formfield>
                    <kendo-floatinglabel
                      [labelCssClass]="'custom-label-class'"
                      [text]="'Password'"
                    >
                      <kendo-textbox
                        rounded="medium"
                        formControlName="password"
                        class="k-input-container-signup"
                        #password
                        required
                        minlength="6"
                        [clearButton]="true"
                      >
                        <ng-template kendoTextBoxPrefixTemplate>
                          <kendo-svg-icon
                            size="xlarge"
                            [icon]="lockIcon"
                          ></kendo-svg-icon>
                        </ng-template>

                        <ng-template kendoTextBoxSuffixTemplate>
                          <button
                            kendoButton
                            look="clear"
                            icon="eye"
                            (click)="toggleVisibility()"
                          ></button>
                        </ng-template>
                      </kendo-textbox>
                    </kendo-floatinglabel>
                    <kendo-formerror
                      >Error: Password is required</kendo-formerror
                    >
                  </kendo-formfield>
                </span>
              </kendo-gridlayout-item>
              <kendo-gridlayout-item
                [col]="1"
                [row]="3"
                [colSpan]="2"
                style="text-align: center; margin-bottom: 20px"
              >
                Already have an account?
                <a style="cursor: pointer; color: blue" (click)="onSwitch()"
                  >Login</a
                >
              </kendo-gridlayout-item>
              <kendo-gridlayout-item
                [col]="3"
                [row]="1"
                [rowSpan]="3"
                style="text-align: right"
              >
                <button
                  class="signup-background"
                  kendoButton
                  type="submit"
                  [disabled]="!form.valid"
                  (click)="signUp(form)"
                >
                  SignUp
                </button>
              </kendo-gridlayout-item>
            </kendo-gridlayout>
          </fieldset>
        </form>
      </div>
    </kendo-card>
  </div>
</div>
