.auth-page {
  background-color: #657f8e;
  height: 100vh;
}

.align {
  display: flex;
  align-items: center;
  height: 325px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
}


.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.example {
  padding: 25px;

}

.login-background {
  height: 380px;
  width: 130px;
  background-image: linear-gradient(to bottom, #2c3437 50%, #242c2f 50%);
  font-size: x-large;
  color: #bfc4c7;
}

.k-input-container{
  font-size: large;
  height: 60px;
  background-color: #cccccc;
}

::ng-deep .custom-label-class {
  margin-left: 30px;

}

::ng-deep .k-floating-label-container > .k-label{
  font-size: large;
  margin-top: 7px;
  color: #95969b;
}

::ng-deep .k-floating-label-container:focus-within > .k-label{
  top: -15px;
  left: 0;
  transform: scale(1);
  color: #242c2f;
}

::ng-deep .k-input-md .k-input-prefix > .k-svg-icon{
  color: #95969b;
}
::ng-deep .k-checkbox-wrap{
  color: #95969b;
}

