<div class="example">
  <form class="k-form k-form-md k-form-horizontal" [formGroup]="form">
    <fieldset class="k-form-fieldset">
      <kendo-formfield orientation="horizontal">
        <kendo-label [for]="holder" text="Full Name"></kendo-label>
        <kendo-textbox
          formControlName="holder"
          [clearButton]="true"
          #holder
          required
        ></kendo-textbox>

        <kendo-formerror>Error: Full Name is required</kendo-formerror>
      </kendo-formfield>

      <kendo-formfield orientation="horizontal">
        <kendo-label text="Age"></kendo-label>
        <kendo-numerictextbox
          [min]="min"
          [max]="max"
          [maxlength]="3"
          format="n0"
          [formControlName]="'age'"
        ></kendo-numerictextbox>

        <kendo-formerror>Error: Age is required</kendo-formerror>
      </kendo-formfield>
      <div class="upload">
        <kendo-formfield>
          <kendo-label class="k-mt-2" text="Avatar"></kendo-label>
          <kendo-upload
            #avatar
            [formControlName]="'avatar'"
            [restrictions]="myRestrictions"
            [saveUrl]="uploadSaveUrl"
            [removeUrl]="uploadRemoveUrl"
            [multiple]="false"
            [ngModel]="myFiles"
          >
            <kendo-upload-messages select="Add images"> </kendo-upload-messages>
          </kendo-upload>
          <div *ngIf="myFiles.length">
            <img
              height="100"
              style="margin: 5px; border: 1px solid gray"
              [src]="myFiles.src"
            />
          </div>

          <kendo-formerror>Error: Avatar not found or invalid</kendo-formerror>
        </kendo-formfield>
      </div>

      <div class="k-form-buttons k-justify-content-end">
        <button [disabled]="!form.valid && form.touched" kendoButton themeColor="dark" (click)="submitForm()">
          Submit
        </button>
        <button kendoButton (click)="clearForm()">Clear</button>
      </div>
    </fieldset>
  </form>
</div>
