<div class="example">
  <form class="k-form k-form-md k-form-horizontal" [formGroup]="form">
    <fieldset class="k-form-fieldset">
      <kendo-formfield orientation="horizontal">
        <kendo-label [for]="holder" text="Full Name"></kendo-label>
        <kendo-textbox
          formControlName="holder"
          [clearButton]="true"
          #holder
          required
        ></kendo-textbox>

        <kendo-formerror>Error: Full Name is required</kendo-formerror>
      </kendo-formfield>

      <kendo-formfield orientation="horizontal">
        <kendo-label text="Age"></kendo-label>
        <kendo-numerictextbox
          [min]="min"
          [max]="max"
          [maxlength]="3"
          format="n0"
          [formControlName]="'age'"
        ></kendo-numerictextbox>

        <kendo-formerror>Error: Age is required</kendo-formerror>
      </kendo-formfield>

      <div class="upload">
        <kendo-upload
          [saveUrl]="uploadSaveUrl"
          [removeUrl]="uploadRemoveUrl"
          [autoUpload]="false"
          actionsLayout="stretched"
          (select)="toggle(true)"
          (clear)="toggle(false)"
          (remove)="toggle(false)"
        >
        </kendo-upload>
      </div>

      <div class="k-form-buttons k-justify-content-end">
        <button kendoButton themeColor="dark" (click)="submitForm()">
          Submit
        </button>
        <button kendoButton (click)="clearForm()">Clear</button>
      </div>
    </fieldset>
  </form>
</div>
