.page {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}
.content {
  background: #f9f9f9;
  height: 470px;
  overflow: auto;
}
.box {
  padding: 4px;
  background-color: #87dfce;
}
.big {
  background-color: #fea69c;
}
.rect {
  background-color: #fee47c;
}



